---
# main layout

---

doctype html

head
	title= site.title
	
body
	h1#title= doc.title

	.content= doc.content

	ul#list
		each doc in featured
			li= doc.title

	#partial= async( partial('banner') )